h1 {
    color: aqua;
}

.Top-Header {
    display: flex;
    justify-content: left;
}
.Bio {
    display: flex;
    justify-content: left;
    align-items: center;
}


#PFP {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 25%;
    border: 1px solid #4A4947;
}